.header-bg {
  background-color: #1e1b3a;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 130vh;
}

/*header leftSide  */
.header-left-first {
  margin-top: 3rem;
}
.sudo-img {
  width: 90%;
  height: 90%;
}

.header-left-second {
  background-color: #1a1730;
  width: 18rem;
  height: 4rem;
  margin-top: 5rem;
  text-align: center;
}

.header-left-second img {
  width: 70px;
  height: 40px;
}
.header-left-second h6 {
  color: #d429e49d;
  font-size: 18px;
}

/* leftside bottom */
.header-bottom {
  margin-left: 10rem;
}

.header-bottom h1 {
  color: white;
  font-weight: bold;
  margin-top: -3rem;
  font-size: 55px;
}
.header-bottom p {
  color: rgb(177, 175, 175);
  margin-top: 1.5rem;
}

.get-button {
  border: none;
  color: white;
  padding: 3px;
  width: 10rem;
  height: 3rem;
  background-image: linear-gradient(to right, #2317fa, #d529e4);
}

/* header-rightSide */

.header-right {
  background-image: url('../../../asset/images/pic3.png');
  width: 120%;
  height: 125%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Avatar */
.headerRight-pic1 img{
  width: 90%;
  height: 100%;
  
 


}
