.nav-bg {
  background-color: #18163b;
}
.nav-logo {
  width: 51px;
  height: 49px;
  color: #feb821;

  margin-right: 10px;
}
.logo-header {
  margin-left: 12rem;
}
.logo-title {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.logo-title:hover {
  color: #f5a104;
}

.navbar-nav li a {
  text-decoration: none;
  margin-left:3rem;
  color: rgb(224, 221, 221);
}
.navbar-nav li a:hover {
  color: #c126e6;
}
.navbar-nav li .contactUs-nav {
  border: 2px solid #7e049c;
  padding: 7px;
  margin-left:6.3rem;
}
